*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
    background-color: #1a2e52;
    color: white;
    padding: 3vh 0vw;
}
nav,nav .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
nav .down{
    display: flex;
    gap: 3vw;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78vh;
    background-color: whitesmoke;
    justify-content: center;
    gap: 3vh;
}
.hero h1{
    font-size: 6vw;
}
.hero p{
    font-size: 2vw;
}
.hero button{
    padding: 1vw 2vw;
    border-radius: 2vw;
    background-color: orangered;
    border: none;
}
.event{
    display: flex;
    flex-direction: column;
    align-items: center;
}
th,td{
    border: 1px solid black;
    padding: 2vh 2vw;
}
table{
    border: 1px solid black;
}