.complete{
  text-decoration: line-through;
}
.edit{
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(128, 128, 128, 0.557);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}