main{
  height: 100vh;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
h3{
  font-size: 2vw;
}
button{
  background-color: transparent;
  border: 1px solid white;
  padding: 3vh 5vw;
  border-radius: 1vw;
  color: white;
  font-size: 2vw;
}