body{
    display: flex;
    justify-content: center;
}
table,td,th{
    border: 1px solid black;
}
table{
    /* Note this -------------------> */
    border-spacing: 10px;
    position: relative;
}
.title{
    background-color: rgba(255, 255, 0, 0.363);
    color: red;
}
td,th{
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.457);
}
td{
    padding-left:15px ;
    font: medium;
}
.age{
    padding-right: 35px;
}
.footer{
    text-align: center;
}
.footer button{
    padding: 5px 35px;
}
