body{
    padding: 0;
    margin: 0;
    background-color: #f6f7eb;
    /* background-color: #e94f37; */
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color: #e94f37cf;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 0.5rem;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 2rem 2rem;
}
.product-card{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e94f37;
    box-shadow: 3px 1px 1px #e94f37;
    padding: 1rem 2rem;
    gap:0.1rem;
    border-radius: 5px;
}
.product-card img{
    height: 16rem;
    width: 12rem;
}
.product-card p{
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
}
span{
    color: red;
}
#featured{
    background-color: rgba(255, 255, 0, 0.626);
}