body{
    font-family: 'Courier New', Courier, monospace;
}
.heading{
    text-align: center;
    background-color: rgba(255, 255, 0, 0.699);
    border-radius: 5px;
}
.heading h1{
    font-size: 6rem;
    color: red;
    margin: 0;
    line-height: 6rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 4rem;
    gap: 1rem;
}
.container h3{
    font-size: 2.5rem;
}
.breaking h3{
    color: red;
}
.trending h3{
    color: blue;
}
.editor h3{
    color: green;
}
.breaking-news{
    border-left: 5px solid red;
    padding-left: 1rem;
}
.treding-article{
    border-left: 5px solid blue;
    padding-left: 1rem;
}
.editors-pick{
    border-left: 5px solid green;
    padding-left: 1rem;
}
.container h4{
    font-size: 2rem;
    margin: 0;
}