
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px;
    font-family:cursive;
}
h1{
    background-color: rgba(165, 42, 42, 0.82);
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 5px;
    font-weight:normal;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    width: fit-content;
    gap: 15px;
    background-color: rgba(239, 239, 179, 0.71);
    padding: 8px;
}
input{
    width: 100%;
    padding: 5px;
}
textarea{
    padding: 5px;
}
button{
    width: 100%;
    background-color: rgb(166, 222, 55);
    padding: 5px;
    text-transform: uppercase;
}
