body,html{
    padding:1rem;
    margin:0px;
    background-color: #111111;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    display: flex;
    background-color: rgb(107, 38, 52);
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-radius: 35px;
    padding:1.5rem 1rem; 
}
nav h3{
    font-weight: normal;
    margin:0;
}
header h1{
    text-align: center;
}
code{
    background-color: gray;
    display: block;
    width: fit-content;
}
.step2{
    border:1px solid gray;
    padding: 1rem 2rem;
    width:fit-content ;
}
kbd {
    border: 1px solid yellow;
    border-radius: 4px;
    /* under stand the box-shadow */
    box-shadow: 1px 1px #ddd;
    padding: 2px 4px;
    font-size: 0.9rem;
    font-family: "Consolas", "Courier New", monospace;
  }
p{
    display: inline;
    margin-left: 10px;
}
.step3{
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}
.step3 article{
    border:1px solid gray;
    padding: 1rem 2rem;
}
footer{
    background-color: rgb(107, 38, 52);
}
span{
    text-decoration: underline;
    color: lightblue;
    cursor: pointer;
} 