body,html{
    padding: 0px;
    margin:0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(26, 26, 39);
    color: white;
    min-height: 100vh;
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0rem;
    background-color: rgba(255, 255, 0, 0.73);
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
}
.navigate{
    border: 1px solid orange;
    padding: 0.6rem 2rem;
    margin-top: 0.5rem;
}
aside{
    border: 1px solid orange;
    width: fit-content;
    box-shadow: 1px 1px greenyellow;
    padding: 3px 4px;
    align-self: center;
    margin-bottom: 0.15rem;

}
.trip{
    padding: 0rem 15rem;
}
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0rem;
    background-color: rgba(255, 255, 0, 0.73);
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
}
footer a{
    color: white;
    
}
