*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: column;
}
nav .top{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(137, 43, 226, 0.712);
    color: white;
    gap: 0;
}
nav .top h1{
    margin: 0;
}
nav .top h3{
    margin: 0;
}
nav .top em{
    margin: 0;
    font-size: 20px;
}
nav .down{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 128, 0, 0.76);
    color: white;
    padding: 3px 30px;
}
.container{
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    gap: 35px;
}
.food-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0.5px solid rgba(128, 128, 128, 0.662);
}
.left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left .down{
    display: flex;
}
.left .food-card{
    padding: 15px 20px;
    gap: 5px;
}
.left .layer-1{
    background-color: rgba(255, 255, 0, 0.313);
    padding: 3px 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.left .layer-2{
    background-color: rgba(255, 0, 0, 0.179);
    padding: 3px 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.left .layer-3{
    background-color: rgba(0, 0, 255, 0.179);
    padding: 3px 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.left .down{
    gap: 25px;
}

.right{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(128, 128, 128, 0.662);
    background-color: rgba(255, 166, 0, 0.219);
    gap: 35px;
    padding: 5px 10px;
    align-items: center;
}
.right .food-card{
    padding: 5px 75px;
    width: 100%;
}
.left .food-card{
    box-shadow: 4px 2px rgba(128, 128, 128, 0.335);
}
.left .special{
    border: 1px solid blue;
    box-shadow: 5px 7px rgba(128, 128, 128, 0.335);
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 15px ;
    gap: 3px;
}
footer h3{
    background-color: black;
    width: 100%;
    color: white;
    font-weight: normal;
}

