*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 3, 69);
    color: whitesmoke;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    color:rgb(37, 3, 69);
    padding: 10px 5px;
}
.main{
    display: flex;
    gap: 35px;
    padding: 5px 0px;
}
.left{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 7px;
    width: 35%;
}
.left h3{
    background-color: rgba(255, 255, 0, 0.368);
    padding: 5px 15px;
    border-radius: 15px;
}
.mid{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid red; */
}
.top{
    display: flex;
    gap: 15px;
}
.card{
    border: 1px solid yellow;
    padding: 15px 35px;
    border-radius: 25px;
}
.down{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    align-self: center;
    justify-content: center;
}
.food{
    border: 1px solid yellow;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgba(255, 0, 0, 0.249);
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.food button{
    background-color:green;
    color: white;
    padding: 5px 35px;
    border-radius: 15px;
    border: none;
}
.right{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 25px;
    align-items: center;
}
.special{
    border: 1px solid yellow;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    background-color: rgba(218, 165, 32, 0.532);
}
.menu{
    align-self: center;
}