body,html{
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
.container{
    display: flex;
    gap: 3vw;
    width: 100%;
    justify-content: center;
}
img{
    width: 15vw;
    height: 30vh;
}